<table>
    <tbody>
        <tr>
            <td><%= @comment.body %></td>
        </tr>
    </tbody>
</table>

<%= link_to 'back to article', @article %>
<%# <%= link_to 'back to article', @comment.article %> %>