
<table>
    <thead>
        <h1>Category<h1>
    </thead>
    <tbody>
        <tr>
            <td><%= @category.name %></td>
        </tr>
    </tbody>
</table>

<%= render 'tasks/index' %>

<%= link_to 'Back to Category list', categories_path %>
